<div class="col-sm-8 col-md-6 col-lg-4 col-lg-offset-4">

    <form>
        <h2>Add a New Post</h2>
        <br>
        <div class="litle_space">
            <input type="text" class="form-control title" placeholder="Title" ng-model="newPost.title">
        </div>
        <div class="litle_space">
            <input type="url" class="form-control title" placeholder="enter a url" ng-model="newPost.img_url">
        </div>
        <div class="description">
            <textarea rows="10" cols="50" placeholder="description" class="form-control description1" ng-model="newPost.description"></textarea>
        </div>
<!--
        <select ng-model="selectedName" ng-options="x for x in names">
</select>
-->
    <div class="store1"><select ng-model="newPost.store" ng-options="option as option.name for option in StoreService.StoreList">
</select></div> 

       
        <button class="btn btn-primary btn2 center-block" ng-click="addPost(newPost)">Add Post</button>
    </form>



</div>